*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font-size: 100%;
    background: linear-gradient(to right, #66412b, #754937);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 24px;
    
}

.frase-cabecalho{
    color: #FFF2E7;
}

.foto-gui{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.item-cabecalho{
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.conteudo-principal{
    border-top: 0.4px solid #FFF2E7;
    position: relative;
    min-height: 600px;
}

.titulo-conteudo{
    text-align: center;
    color: azure;
}

.titu2{
  text-align: center;
  color: azure;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-weight: bold;
}

th {
  background: #3b1f14;
  color: white;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.tabela-conteudo {
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px; 
  background: white;
}

.container-projetos {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.card-projeto {
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.card-projeto h3 {
  margin-bottom: 10px;
  color: #3b1f14;
}

.card-projeto p {
  color: #333;
}

.card-projeto a {
  display: inline-block;
  margin-top: 10px;
  color: #3b1f14;
  font-weight: bold;
}




.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    color: #FFF2E7;
    text-decoration: none;
     display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.git{
    color: blue;
    text-decoration: underline;
}

.insta{
    color: blue;
    text-decoration: underline;
}

.imagem-casa{
    width: 40px;
  height: auto;
  
}