*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font-size: 100%;
    background: linear-gradient(to right, #66412b, #754937);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 24px;
    
}

.frase-cabecalho{
    color: #FFF2E7;
}

.foto-gui{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.item-cabecalho{
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.conteudo-principal{
     border-top: 0.4px solid #FFF2E7;
    position: relative;
    min-height: 600px;
}


.servicos {
  text-align: center;
  color: white;
  margin-top: 80px;
}

.tabela-servicos {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
  color: #333;
  border-radius: 10px;
  overflow: hidden;
}

.tabela-servicos th {
  background: #3b1f14;
  color: white;
  padding: 12px;
}

.tabela-servicos td {
  padding: 12px;
  border: 1px solid #ddd;
}

.tabela-servicos tr:hover {
  background: #f2f2f2;
}





.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    color: #FFF2E7;
    text-decoration: none;
     display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.git{
    color: blue;
    text-decoration: underline;
}

.insta{
    color: blue;
    text-decoration: underline;
}

.imagem-casa{
    width: 40px;
  height: auto;
  
}